@model IEnumerable<Musebox_Web_Project.Models.Product>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand.BrandName)
                            </td>
                            <td class="td-actions">
                                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                            </td>
                        </tr>
                    }
                
